body {
    font-family: Lucida Console;
    margin-left: 50px;
}
h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

h5 {
    font-style: italic;
    line-height: 25px;
    text-align: center;
    background-color: white;
    margin-right: 300px;
    margin-left: 300px;
    padding-block: 20px;
}

section {
    margin: 5px 50px;
    
}

article {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: auto;
    
}

ul li {
    background-color: rgb(248, 238, 221);
    line-height: 1.8;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    align-content: center;
}

ul {
    list-style-type: none;
}

button {
    display: inline-block;
    align-items: center;
    padding: 5px 15px;
    border-radius: 2mm;
    margin-left: 50px
}
footer{
    background-color: rgb(224, 223, 221);
    text-align: center;
}